@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Student: @ViewData["student"]</p>

<address>
    <strong>Visit my portfolio and play my games: </strong> <a href="https://www.sharemygame.com/&commat;Silk_90">ShareMyGame.com/&commat;Silk90</a>
</address>
